body{background-color: #003b3b;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); color:whitesmoke; 
font-family: Georgia; text-align: center;
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */}

a{color:grey}
ul{font-size: 18px; list-style-position: inside; padding: 10px; list-style-type: square}
h1{margin:30px; font-style: italic; font-size: 80px!important}
h2{margin:10px;}
article{padding: 40px}
img{padding: 15px}
article{font-size: 20px}